.dischPressure-content {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: #000000;
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 5rem;
}

.engineRPM-content {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: #1500ffcc;
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 5rem;
}

.engine-content {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: #b7ff00cc;
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 4rem;
}

.transGear-content {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: #ff9500cc;
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 4rem;
}

.horsePower-content {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: #ff0000cc;
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 4rem;
}

.pumpRate-content {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: #7300ffcc;
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 5rem;
}

.chassis-content {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: #ff0000cc;
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 3.75rem;
}
