.sand_concentration {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: #ff840080;
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 3rem;
}
.total_rate {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: #0091ff7e;
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 3rem;
}
.pressure_one {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: #2b00ff7e;
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 3rem;
} 
.pressure_two {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: hsla(97, 100%, 50%, 0.505);
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 3rem;
} 
.pressure_three {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: #00000080;
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 3rem;
} 
.pressure_four {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  background: #004c3182;
  color: #f0f0f0;
  padding: 3px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 3rem;
} 